/*
	Hayden Miller
	T00782141
	Assignment 3
*/

#contact {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

#contact .heading {
  text-align: center;
}

#contact p {
  text-align: center;
  margin-bottom: 0.5rem;
}

#contact .inner {
  display: grid;
}

#contact .contact-info {
  font-size: 0.9em;
  color: hsl(var(--color-muted));
}

.contact-form {
  margin-top: 2.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact-form input:not([type="checkbox"]):user-invalid:not(:placeholder-shown),
.contact-form select:user-invalid:not(:placeholder-shown),
.contact-form textarea:user-invalid:not(:placeholder-shown) {
  border: 1px solid hsl(var(--color-love));
  background-color: hsl(var(--color-love) / 0.1);
}

.contact-form input:not([type="checkbox"]):user-valid:not(:placeholder-shown),
.contact-form select:user-valid:not(:placeholder-shown),
.contact-form textarea:user-valid:not(:placeholder-shown) {
  border: 1px solid hsl(var(--color-pine));
  background-color: hsl(var(--color-pine) / 0.1);
}

.contact-form input:focus-visible,
.contact-form select:focus,
.contact-form textarea:focus {
  border: 2px solid hsl(var(--color-foam)) !important;
  outline: none;
}

.contact-form-item {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.contact-form-item.span-two-columns {
  grid-column: 1 / span 2;
}

@media (min-width: 640px) {
  .contact-form-item.span-two-columns {
    grid-column: 1 / span 2;
  }
}

.contact-form-item label {
}

.contact-form-item input {
  height: 2.5rem;
  padding: 0.5rem;

  margin-top: 0.3rem;

  border-radius: 0.2rem;

  color: hsl(var(--color-text));
  background-color: hsl(var(--color-surface));
  border: none;
}

.contact-form-item input:focus {
  outline: none;
}

.contact-form-item textarea {
  height: 8rem;
  padding: 0.5rem;

  margin-top: 0.3rem;

  border-radius: 0.2rem;

  color: hsl(var(--color-text));
  background-color: hsl(var(--color-surface));
  border: none;

  resize: none;
  outline: none;
}

.contact-form-item select {
  height: 2.5rem;
  padding: 0.5rem;

  margin-top: 0.3rem;

  border-radius: 0.2rem;

  /* box-shadow: */
  /* 0 10px 15px -3px rgb(0 0 0 / 0.1), */
  /* 0 4px 6px -4px rgb(0 0 0 / 0.1); */

  color: hsl(var(--color-text));
  background-color: hsl(var(--color-surface));
  border: none;
}

.contact-form select option {
  color: hsl(var(--color-text));
  background-color: hsl(var(--color-surface));
}

.contact-form-item:has(input[type="checkbox"]) {
  flex-direction: row;
  /* align-items: center; */
  gap: 0.5rem;
}

.contact-form-item input[type="checkbox"] {
  appearance: none;

  width: 1.15em;
  height: 1.15em;

  border: 1px solid hsl(var(--color-muted));

  display: grid;
  place-content: center;
}

.contact-form-item input[type="checkbox"]::before {
  content: "";
  width: 1.15em;
  height: 1.15em;
  transform: scale(0);
  background-color: hsl(var(--color-foam));
}

.contact-form-item input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.contact-form button {
  /* padding: 0.9rem 12rem; */
  /* padding: 0.9rem 6rem; */
  padding: 0.7rem 0.8rem;

  justify-self: center;

  /* border-radius: 0.625rem; */
  /* border-radius: 999px; */
  border-radius: 0.375rem;
  border: none;

  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.submit-button {
  /* color: hsl(var(--color-iris)); */
  /* color: hsl(var(--color-text)); */
  /* background-color: hsl(var(--color-iris) / 0.5); */
  /* background-color: hsl(var(--color-muted) / 0.1); */
  /* 
	background-color: hsl(var(--color-rose));
	color: hsl(var(--color-base)); */

  background-color: hsl(var(--color-rose) / 0.1);
  color: hsl(var(--color-rose));
}

.submit-button:hover {
  background-color: hsl(var(--color-rose) / 0.2);
}

.submit-button:active {
  background-color: hsl(var(--color-rose) / 0.3);
}

.reset-button {
  color: hsl(var(--color-text));
  background-color: hsl(var(--color-muted) / 0.1);

  border: 1px solid transparent;
}

.reset-button:hover {
  background-color: hsl(var(--color-muted) / 0.2);
}

.reset-button:active {
  background-color: hsl(var(--color-muted) / 0.3);
}
