/*
	Hayden Miller
	T00782141
	Assignment 3
*/

/* Mobile First Design */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/*
    Colour Theme: sRose Pine
    https://github.com/rose-pine
*/

:root {
  /* Page Layout */
  --header-height: 4rem;
  --page-top: 3rem;
  --page-gutter: 2rem;

  /* Colour Theme  */
  color-scheme: light-dark;

  /*legacy colors*/
  --color-header: #0b0a10;
  --hover-color: #272832;
  --text-hover-color: #ffffff;

  --color-base: 249deg 22% 12%;
  --color-surface: 247deg 23% 15%;
  --color-overlay: 248deg 25% 18%;
  --color-muted: 249deg 12% 47%;
  --color-subtle: 248deg 15% 61%;
  --color-text: 245deg 50% 91%;
  --color-love: 343deg 76% 68%;
  --color-gold: 35deg 88% 72%;
  --color-rose: 2deg 55% 83%;
  --color-pine: 197deg 49% 38%;
  --color-foam: 189deg 43% 73%;
  --color-iris: 267deg 57% 78%;
  --color-highlight-low: 248, 17%, 15%;
  --color-highlight-medium: 249, 14%, 28%;
  --color-highlight-high: 249, 13%, 36%;
}

@media (min-width: 640px) {
  :root {
    --page-top: 4rem;
    --page-gutter: 3rem;
  }
}

@media (min-width: 768px) {
  :root {
    --page-top: 6rem;
    --page-gutter: 8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
*:hover {
	outline: 1px blue solid;
} */

/* re-write */

html {
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  line-height: 1.5;

  min-height: 100vh;
  min-height: 100dvh;

  min-width: 320px;

  color: hsl(var(--color-text));
  background-color: hsl(var(--color-base));
}

a {
  color: inherit;
  text-decoration: none;
}

/* header */
header {
  display: flex;
  justify-content: center;

  height: var(--header-height);
  background-color: var(--color-header);
}

header .inner {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}

header .logo {
  display: none;

  white-space: nowrap;

  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 520px) {
  header .inner {
    justify-content: space-between;
  }
  header .logo {
    display: block;
  }
}
/* header nav */
nav {
  /* display: flex; */
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  list-style: none;
}

nav a {
  display: flex;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  transition: color 200ms ease;
}

nav a:hover {
  color: var(--text-hover-color);
}

nav a.active-link {
  border-bottom: 2px solid hsl(var(--color-iris) / 0.5);
}

.github-logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: filter 150ms ease;
  filter: brightness(1.5) invert(0);
}

.github-li a:hover {
  background-color: transparent;
}

.github-logo:hover {
  filter: brightness(1) invert(1);
}

/* main */
main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;

  /* padding: var(--page-top) var(--page-gutter); */
  padding: min(6rem, 8%) min(8rem, 10%);
}

section {
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  justify-items: center;
}

@media (min-width: 768px) {
  .about-content {
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
  }
}

.about-text p {
  margin-bottom: 1rem;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  list-style-position: inside;
  /* gap: 0.5rem; */
}

.skills-list li {
  font-size: 0.9rem;
}

.portrait {
  width: 100%;
  height: auto;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: 0.3rem;
}

.other-page-link {
  display: inline-block;
  margin-top: 1em;

  text-decoration: none;
  border-radius: 5px;

  padding: 0.6em;

  color: hsl(var(--color-text));
  background-color: hsl(var(--color-surface));
}

/* old contact page */

#contact h1 {
  text-align: center;
}

#contact p {
  text-align: center;
  margin-bottom: 0.5rem;
}

#contact .contact-info {
  font-size: 0.9em;
  color: hsl(var(--color-muted));
}
